@media only screen and (max-width: 375px) { 
    header {
        width: 100vw;
    }
    .menu-button {
        display: inline;
        border: none;
        color: white;
        background: transparent;
    }
    /* .burger-menu nav {
        display: block;
        background: white;
        width: 100vw;
        height: 100vh;
    } */
    header .header-links { 
        display: none;
    }
    header .header-lang {
        display: none;
    }
    header .header-icons {
        display: none;
    }
    header .header-mobile {
        display: flex;
        justify-content: space-between;
        width: 351px;
        border-radius: 10px;
        background: #1924395e;
    }
    header .header-mobile .logo img {
        width: 150px;
    }

}