* {
    box-sizing: border-box;
}

html, body {
    max-height: 100%;
}
body {
    background: #040710;
    margin: 0;
}
@font-face {
    font-family: Nunito-ExtraBold;
    font-style: normal;
    font-weight: 800;
    src: url(fonts/Nunito-ExtraBold.ttf);
    font-family:  Nunito-Light;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Nunito-Light.ttf);
}
/* -----------------------
------ HEADER BLOCK ------ 
----------------------- */

header {
    width: 1180px;
    height: 90px;
    margin: 20px auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 90px 250px;
    grid-column-gap: 12px;
}

.header-links, .header-lang, .header-icons {
    height: 100%;
}

/* Header links */

.header-links {
    width: 818px;
    border-radius: 10px;
    background: #1924395e;

    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 146px 1fr;

    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

header .header-links .logo {
    padding-left: 42px;
}
header .header-links .logo img {
    width: 104px;
    height: 13px;
}

header .header-links .links {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}
header .header-links .links a { 
    color: #ffffff;
    opacity: 0.7;
    text-decoration: none;
}
header .header-links .links a:hover {
    opacity: 1;
}

/* Header language */

header .header-lang {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background: #1924395e;

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.nice-select .list {
    width: 70px;
    background-color: transparent;
    border: 1px solid #96969781;
}

header .header-lang .nice-select {
    min-width: 70px;
    padding-right: 20px;
    padding-left: 10px;

    border: none;
    color: #ffffff;
    background-color: transparent;
}

header .header-lang .nice-select.select_lang,
header .header-lang .option.selected.focus {
    font-weight: normal;
}

header .header-lang .nice-select .option:hover,
header .header-lang .nice-select .option.focus,
header .header-lang .nice-select .option.selected {
    background-color: transparent;
}

.counter {
    display: flex;
    justify-content: space-around;
}
.days_counter {
    position: relative;
    border-radius: 10px;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 9em;
    height: 5em;
    background:#1924395e;
    margin-left: 6%;
}
.hour_counter {
    position: relative;
    border-radius: 10px;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 9em;
    height: 5em;
    background:#1924395e;
}
.minutes_counter {
    position: relative;
    border-radius: 10px;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 9em;
    height: 5em;
    background:#1924395e;
}
.seconds_counter {
    position: relative;
    border-radius: 10px;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 9em;
    height: 5em;
    background:#1924395e;
    margin-right: 6%;
}
.number {
    color: #E35050;
    font-family: "Nunito-ExtraBold", sans-serif;
    font-size: 35px;
    text-shadow: 1.5px 2px 2px;
    
}
.text_upper {
    color: #FFFFFF;
    font-family: "Nunito-Light", sans-serif;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 4px;
}

/* Header icons */

header .header-icons {
    width: 248px;
    border-radius: 10px;
    background: #1924395e;
    padding-left: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search button {
    background: #0c111f;
    border: none;
    cursor: pointer;
}

header .header-icons img {
    width: 20px;
    height: 20px;
    margin-right: 51px;
}