.main-wrapper {
  background: #050814;
}

main .top-container {
  width: 1180px;
  /* 100vh - header height - header top and bottom margins */
  height: calc(100vh - 90px - 25px - 25px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

main .top-container .left_counters,
main .top-container .right_counters {
  display: flex;
  width: 32%;
  align-items: center;
}

main .top-container .left_counters {
  justify-content: flex-start;
}

main .top-container .right_counters {
  justify-content: flex-end;
}

main .top-container .left_counters .days_counter,
main .top-container .left_counters .hour_counter,
main .top-container .right_counters .minutes_counter,
main .top-container .right_counters .seconds_counter {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc((100% - 22px) / 2);
  height: 97px;
  background: #1924395e;
}

main .top-container .left_counters .days_counter {
  margin-right: 22px;
}

main .top-container .left_counters .hour_counter {
  margin-right: 44px;
}

main .top-container .right_counters .minutes_counter {
  margin-left: 44px;
  margin-right: 22px;
}

main .top-container .left_counters .days_counter #day .number,
main .top-container .left_counters .hour_counter #hour .number,
main .top-container .right_counters .minutes_counter #min .number,
main .top-container .right_counters .seconds_counter #sec .number {
  color: #E35050;
  font-family: "Nunito-ExtraBold", sans-serif;
  font-size: 35px;
  text-shadow: 1.5px 2px 2px;
}

main .top-container .left_counters .days_counter .text_upper,
main .top-container .left_counters .hour_counter .text_upper,
main .top-container .right_counters .minutes_counter .text_upper,
main .top-container .right_counters .seconds_counter .text_upper {
  color: #FFFFFF;
  font-family: "Nunito-Light", sans-serif;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 4px;
}

main .top-container .main_image_wrapper {
  width: 36%;
  display: flex;
  align-items: center;
}

main .top-container .main_image_wrapper .main_image {
  width: 100%;
}

main .top-container .left_counters .days_counter #day,
main .top-container .left_counters .hour_counter #hour,
main .top-container .right_counters .minutes_counter #min,
main .top-container .right_counters .seconds_counter #sec {
  display: flex;
}

main .bottom-container {
  margin: 15px auto;
  width: 1180px;
  display: flex;
  column-gap: 20px;
}

main .bottom-container .graph-container {
  display: flex;
  background: #0c1222;
  width: 682px;
  height: 238px;
  border-radius: 10px;
  flex-direction: column;
}

main .bottom-container .graph-container .text {
  display: flex;
  justify-content: space-between;
  width: 620px;
  height: 22px;
  margin: 24px 37px;
}

main .bottom-container .graph-container .text span {
  color: #FFFFFF;
  font-family: "Nunito-Regular", sans-serif;
  font-size: 16px;
}

main .bottom-container .graph-container .text a {
  font-family: "Nunito-Light", sans-serif;
  color: #40ddff;
  font-size: 10px;
}

main .bottom-container .graph-container .graph-info {
  display: flex;
  justify-content: space-between;
  margin: 0 37px;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile {
  background: #192439;
  width: 280px;
  height: 51px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-shadow: 0px 0px 1px;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile .user-info .login,
main .bottom-container .graph-container .graph-info .graph-detaile .detaile .bid {
  font-family: "Nunito-SemiBold", sans-serif;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile .percent-container .percent {
  font-family: "Nunito-Regular", sans-serif;
  font-size: 11px;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile .user-info .data {
  font-family: "Nunito-Light", sans-serif;
  flex-wrap: wrap;
  font-size: 9px;
  text-align: right;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile .user-info {
  display: flex;
  flex-direction: column;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile .percent-container {
  display: flex;
  align-items: center;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile .percent-container img {
  margin-right: 5px;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile:nth-child(1) {
  background: rgba(25, 36, 57, 0.3);
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile:nth-child(2) {
  color: white;
  opacity: 0.3;
  background: transparent;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile:nth-child(3) {
  color: white;
  opacity: 0.1;
  background: transparent;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile:nth-child(1) .user-info .login,
main .bottom-container .graph-container .graph-info .graph-detaile .detaile:nth-child(1) .bid,
main .bottom-container .graph-container .graph-info .graph-detaile .detaile:nth-child(1) .percent-container .percent {
  color: #50E3C2;
}

main .bottom-container .graph-container .graph-info .graph-detaile .detaile:nth-child(1) .user-info .data {
  color: #40DDFF;
}
main .bottom-container .last-bid-container {
  display: flex;
  flex-direction: column;
}

main .bottom-container .last-bid-container .last-bid-main {
  display: flex;
  background: #0c1222;
  width: 469px;
  height: 139px;
  border-radius: 10px;
  flex-direction: column;
  color: white;
}

main .bottom-container .last-bid-container .last-bid-detaile .user-info-mobile {
  display: none;
}

main .bottom-container .last-bid-container .last-bid-detaile {
  display: flex;
  justify-content: space-between;
  margin: 0px 27px 28px 27px;
  align-items: center;
}

main .bottom-container .last-bid-container .last-bid-info {
  display: flex;
  justify-content: space-between;
  margin: 23px 27px;
  width: 415px;
  height: 22px;
}

main .bottom-container .last-bid-container .last-bid-info .text {
  font-family: "Nunito-Regular", sans-serif;
  font-size: 16px;
}

main .bottom-container .last-bid-container .last-bid-info .data {
  font-family: "Nunito-Light", sans-serif;
  font-size: 11px;
}

main .bottom-container .last-bid-container .last-bid-detaile .user-photo {
  position: relative;
  width: 42px;
  height: 43px;
}

main .bottom-container .last-bid-container .last-bid-detaile .user-photo img:nth-child(1) {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 35%;
}

main .bottom-container .last-bid-container .last-bid-detaile .user-photo img:nth-child(2) {
  position: relative;
  z-index: 1;
}

main .bottom-container .last-bid-container .last-bid-detaile .login {
  font-family: "Nunito-SemiBold", sans-serif;
  font-size: 16px;
}

main .bottom-container .last-bid-container .last-bid-detaile .number_bid {
  font-family: "Nunito-Light", sans-serif;
  font-size: 12px;
}

main .bottom-container .last-bid-container .last-bid-detaile .bid-info .bid {
  font-family: "Nunito-ExtraBold", sans-serif;
  font-size: 24px;
  color: #50e3c2;
}

main .bottom-container .last-bid-container .last-bid-detaile .bid-info {
  display: flex;
  align-items: center;
}

main .bottom-container .last-bid-container .last-bid-detaile .bid-info img {
  margin-right: 8px;
}

main .bottom-container .last-bid-container .make-bid {
  background: linear-gradient(0deg, #50E3C2, #50E3C2);
  width: 469px;
  height: 70px;
  border-radius: 10px;
  font-family: "Nunito-ExtraBold", sans-serif;
  font-size: 21px;
  color: white;
  /* box-shadow: 0px 0px 0px 0px #67e7cb; */
  border-color: none;
  margin-top: 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  height: 50px;
  margin: 25px auto;
  color: white;
  opacity: 0.2;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer span {
  margin-right: 15px;
}