.main-wrapper {
    background: #050814;
}

main {
}

.top-container {
    width: 1180px;
     /* 100vh - header height - header top and bottom margins */
    height: calc(100vh - 90px - 25px - 25px);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.left_counters,
.right_counters {
    display: flex;
    width: 32%;
    align-items: center;
}
.left_counters {
    justify-content: flex-start;
}
.right_counters {
    justify-content: flex-end;
}

.days_counter,
.hour_counter,
.minutes_counter,
.seconds_counter {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc((100% - 22px) / 2);
    height: 97px;
    background:#1924395e;
}

.days_counter {
    margin-right: 22px;
}

.hour_counter {
    margin-right: 44px;
}

.minutes_counter {
    margin-left: 44px;
    margin-right: 22px;
}

.number {
    color: #E35050;
    font-family: "Nunito-ExtraBold", sans-serif;
    font-size: 35px;
    text-shadow: 1.5px 2px 2px;
}

.text_upper {
    color: #FFFFFF;
    font-family: "Nunito-Light", sans-serif;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 4px;
}

.main_image_wrapper {
    width: 36%;
    display: flex;
    align-items: center;
}

.main_image {
    width: 100%;
}
#day, #hour, #min, #sec {
    display: flex;
}

.bottom-container {
    margin: 15px auto;
    width: 1180px;
}

.graph-container {
    display: flex;
    background: #0c1222;
    width: 682px;
    height: 238px;
    border-radius: 10px;
    flex-direction: column;

}
.text {
    display: flex;
    justify-content: space-between;
    width: 620px;
    height: 22px;
    margin: 24px 37px;
}
.text span {
    color: #FFFFFF;
    font-family: 'Nunito-Regular',sans-serif ;
}
.text a {
    font-family: 'Nunito-Light',sans-serif;
    color: #40DDFF;
}
.graph-info {
    display: flex;
    justify-content: space-between;
    margin: 0 37px;
}
.detaile {
    background: #192439;
    width: 280px;
    height: 51px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.login, .bid {
    color: #50E3C2;
    font-family: "Nunito-SemiBold",sans-serif;
}
.percent {
    color: #50E3C2;
    font-family: "Nunito-Regular", sans-serif;
}
.data {
    color: #40DDFF;
    font-family: "Nunito-Light", sans-serif;
    flex-wrap: wrap;
}
.user-info {
    display: flex;
    flex-direction: column;
}